$blueish: #6B7A8F;
$yellow: #F7C331;
$light-grey: #DCC7AA;
$orange: #F7882F;
$white: #fff;

$nav-menu-background-color: $blueish;
$normal-text-color: $light-grey;
$link-text-color: $white;
$first-page-section-background-color: $light-grey;